{{#burger-menu as |burger|}}
  {{#burger.menu itemTagName="li" as |menu|}}
    <button {{action burger.state.actions.close}}>Close</button>

    <ul>
      {{#menu.item}}
        {{link-to "Página inicial" "index"}}
      {{/menu.item}}
      {{#menu.item}}
        {{link-to "Tipografia" "typography"}}
      {{/menu.item}}
      {{#menu.item}}
        {{link-to "Cores" "colors"}}
      {{/menu.item}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    <div class="app">
      <header class="header">
        <button {{action burger.state.actions.toggle}} class="btnmenu">Menu</button>
        <img src="assets/images/logo-v2v.png" alt="Logo V2V" class="logo">
      </header>

      <div class="content">
        <main class="main">
          {{outlet}}
        </main>

        <footer class="footer">
          <small>
            &copy; Todos os direitos reservados - V2V.net
          </small>
        </footer>
      </div>
    </div>
  {{/burger.outlet}}
{{/burger-menu}}